/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
$zen-gutter-width:  20px;

// If you need IE6/7 support for box-sizing: border-box (default), see _base.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

html,
body {
  height: 100%;
  background-color: #F2F2F2;
  color: #555555;
}

/**
 * Center the page.
 */
#page {
}

#page,
#main,
#content {
  height: 100%;
}

/* content h2 */
.contentbox h2 {
  margin-top: 0 !important;

  a {
    color: #FFFFFF;
  }
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
  padding: 0px !important;
}

.sidebar-first {
  .region-sidebar-first {
    margin-left: -25% !important;
    margin-right: 0px !important;
    width: 25% !important;
  }
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

.form-login-input {
  padding: 5px;
}

.form-login-submit {
  width: 100%;
  padding: 5px;
}

.businesscard {
  width: 100%;
  height: 100%;
  background: url('../images/profile.png') no-repeat center top #F2F2F2;
  background-size: 13%;
}

.businesscard .button {
  background-color: #F2F2F2;
  width: 80%;
  padding: 2px 0 2px 10px
}

.businesscard-content {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -25%;
  margin-top: -150px;
  width: 50%;
  border: 1px solid #001F3F;
  height: 300px;
  margin-bottom: 20px;
  background: #F2F2F2;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.businesscard-content h1 {
  text-align: center;
  color: #FFFFFF;
  background: #001F3F;
  margin: 0;
  padding: 0;
  line-height: 2.5em;
}

.businesscard-intro {
  float: left;
  width: 70%;
  color: #555555;
  margin-top: 10px;
}

.businesscard-menu {
  width: 20%;
  min-width:150px;
  height: 100%;
  text-align: left;
  float: left;
  margin-top: 5px;
}

.businesscard-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.businesscard-menu ul li {
  background: #F2F2F2;
  cursor: pointer;
  padding-left: 10px;
  margin-right: 20px;
}

.businesscard-menu ul li:hover {
  background: #EEEEEE;
}

.businesscard-menu ul li a {
  color: #555555;
  text-decoration: none;
}

.businesscard-menu ul li:hover a {
  color: #222222;
}

.contentbox {
  width: 100%;
  height: 100%;
}

.contentbox div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
}

.articles-container {
  padding-top: 20px;
}

#articles .button {
  margin: 0 auto;
}

#articles .curl-top-left {
  display: block;
}

article {
  margin: 0 auto;
  background-color: #F2F2F2 !important;
}

.article-front {
  width: 50%;
  border: 8px solid #F2F2F2;
}

.article-front:hover {
  border: 8px solid #FFFFFF;
}

article h2 a {
  color: #222222;
  text-decoration: none;
}

article h2 a:hover {
  text-decoration: underline;
}

/* PORTFOLIO */
#portfolio ul {
  list-style: none;
  width: 70%;
  margin: auto;
}
#portfolio ul li {
  float: left;
  border: 20px solid #FFFFFF;
  background-color: #001F3F;
  margin: 10px;
}
#portfolio ul li:hover {
  border-color: #F2F2F2;
}

.region-sidebar-first {
  ul {
    li {
      list-style: none;

      a {
        color: #555555;
        text-decoration: none;
        font-size: 14px;
      }
      a:hover {
        color: #222222;
      }
    }
  }
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    width: $zen-grid-width;
    background: #e1e1e1;

    .button {
      padding: 5px;
    }
  }
}

} // End of @if $zen-reverse-all-floats == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-column-count: 3;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
      width: 100% !important;
      padding: 0px !important;
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-column-count: 5;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(4, 1);
      width: 100% !important;
      padding: 0px !important;
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }
}
